{# templates/article/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}


{% if articles %}
    <h1 class="text-center p-5" >Les derniers articles concernant les :
      {{ articles.0.category.name }}
    </h1>
    
    {% for article in articles %}
    <section class="container p-5 col-5">
<div class="card shadow p-3 mb-5 bg-white rounded"style="width: 30rem;">
   <h2>
        <a href="{{path("article_show", { id: article.id }) }}">{{ article.title }}</a>
      </h2>
      <p>{{ article.description }}</p>
      </div>
</section>
    {% else %}
    aucun article trouvé
    {% endfor %}
{% endif %}


    <a href="{{ path('category_index') }}">
      Retour à la liste des catégories
    </a>

{% endblock %}
