{% extends 'base.html.twig' %}

{% block title %}contact
{% endblock %}

{% block body %}

	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}


	<div class="text-center p-3 mt-5" style="color:#fff">
		<h1>
			Une question ?
		</h1>
	</div>
	<div class="container justify-content-center">
		<div class="form-group w-100 mt-2 p-2 ">
			{{ form_start(contactForm) }}
			{{ form_row(contactForm.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
	</br>
	<div class="form-group w-100  mt-2 p-2">
		{{ form_row(contactForm.email, {'attr': {'class': 'form-control'}}) }}
	</div>
</br>
<div class="form-group w-100  mt-2 p-2">
	{{ form_row(contactForm.message, {'attr': {'class': 'form-control'}}) }}
</div></br><div class="d-flex justify-content-center mt-3">
<input class="btn btn-outline-light" type="submit" value="Envoyez" id="contact-btn" style="border-radius: 4; border-color: #0000FF;"></div>{{ form_end(contactForm) }}</div></div></br></br>
{% endblock %}
