{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}
	<h1 class="text-center p-5" > Tous les articles :</h1>

	{% for article in articles | reverse %} 
		<div>
			<section class="container p-5 col-5" >
				<div class="card shadow p-3 mb-5 bg-white rounded"  style="width: 30rem;">
					<img src="{{ vich_uploader_asset(article,'imageFile')}}"  class="card-img-top" alt="...">
					<div class="card-body">

						<h3>
							{{ article.title }}
						</h3>
						<h5>
							</br> - Catégorie :
							{{ article.category.name }}
							
							{% if (article.category.name == 'OFB') %}
								</h5>
								<h5>
									- sous-catégorie:
									<a href>{{ article.subCategory.name }}</a>
								</h5>
							{% elseif (article.category.name== 'Parcs nationaux') %}
								<p>
									sous-catégorie :
									<a href>{{ article.subCategory.name }}</a>
								</p>
							{% endif %}
						</br>
						<p class="card-text">{{ article.description }} </br> {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
						<a href="{{ path("article_show", { id: article.id }) }}">En savoir plus</a>
					</div>
				</section>

			{% else %}
				Aucune article trouvé.
			{% endfor %}


			<a href="{{ path('app_index') }}">
				Retour à l'accueil
			</a>
		{% endblock %}
