{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}

<h1 class="text-center  mt-5" style="color:#fff"> Tous vos articles</h1

{% for permanentArticle in permanentArticles %}
{% if permanentArticle.name != 'Adherer' %}
<!-- Button trigger modal -->
<div class="d-flex justify-content-end mt-5 me-2">
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{loop.index}}">
{{permanentArticle.name}}</button>						
<!-- Modal -->
<div class="modal fade" id="exampleModal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModal{{loop.index}}Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-xl-4" id="exampleModal{{loop.index}}Label">{{permanentArticle.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	 <img src="{{ vich_uploader_asset(permanentArticle,'imageFile')}}" class="img-fluid" alt="...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button></div>
      </div>
    </div>
  </div>
</div>
<pre>
</pre>
	{% endif %}
	{% endfor %}
	<div class="container">
		<section>
			<div class="mt-5 text-center"></div>
		</br>
		<div class="d-flex">
			{{ form_start(form , { 'attr': {'class': 'd-flex'} }) }}
			{{ form_widget(form, { 'attr': {'class': 'd-flex'} }) }}
			<button type="submit" class="ms-1 p-1 btn btn-outline-dark text-center">chercher
				<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
				<span class="visually-hidden">Loading...</span>
			</button>
			{{ form_end(form) }}
		</div>
	</section>
<section id="new" class="p-4">
	<div class="d-lg-flex flex-wrap mt-2">
		{% for article in articles | reverse %}

			<div class="card-group mb-3 col-lg-4 px-lg-2">
				<div class="card shadow p-3 " style="width: 18rem;">
					<img src="{{ vich_uploader_asset(article,'imageFile')}}" class="card-img-top" alt="...">
					<div class="card-body">
						<div class="text-center">
							<h2 class="card-title mb-5" style="color:#5D4037">
								{{ article.title }}</h2>

							<li class="card-text" style="color:#111a94">
								Catégorie :{{ article.category.name }}
							</li>
						</br>
						{% if (article.category.name == 'Ofb') %}
							<li class="card-text" style="color:#111a94">
								Sous-catégorie:
							     {{ article.subCategory}}
							</li>
						{% elseif (article.category.name == 'Parcs Nationaux') %}
							<li class="card-text" style="color:#111a94">
								Sous-catégorie : 
								{{ article.subCategory}}
							</li>
					{% elseif (article.category.name != 'Parcs Nationaux') %}
						</br>
					{% endif %}
				</div>
			</div>
		</br>
		<div class="card-footer">
			Créé le :
			{{ article.createdAt ? article.createdAt|date('d-m-y') : '' }}</p>
		<a href="{{ path("article_show", { id: article.id }) }}">En savoir plus</a>
	</div>
</div>
</div>
{% else %}Aucun article trouvé.
{% endfor %}
</div>
</section>
</div>
		<div class="d-flex align-items-center mt-5 justify-content-center">
			<h2 class="text-center me-2" style="color:#fff">
				Consulter : 
			</h2>
			<button type="button" class="my-3 p-1 btn btn-outline-light">
				<a href="https://www.mon-compte-formation.fr/"  class="d-block me-2" target="_blank" title="Conseil webmaster" target="_blank">Mon compte CPF</a></button>
			<button type="button" class="my-3 p-1 btn btn-outline-light">
			    <a href="https://www.service-public.fr/particuliers/vosdroits/F1907" class="d-block me-2"  target="_blank" title="Conseil webmaster" target="_blank">Mon compte CET</a></button>
</div>
<div class="p-5 text-end"><button type="button" class="my-3 p-1 btn btn-outline-light text-reset"><a href="#" class="link-blue">↑</a></button>
</div>


{% endblock %}
