{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title }}
{% endblock %}

{% block body %}
<section class="container p-5 col-5">
<div class="card shadow p-3 mb-5 bg-white rounded"style="width: 30rem;">
<img src="{{ vich_uploader_asset(article,'imageFile')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">{{  article.title }}</h2>
			<p class="card-text">{{ article.description }}</p>
			<p class="card-text">Catégorie :
				<a href>{{ article.category.name }}</a></p>

            {% if (article.category.name == 'Ofb') %}
           <p class="card-text"> sous-catégorie:
			<a href>{{ article.subCategory.name }}</a></p>
           {% elseif (article.category.name== 'Parcs Nationaux') %}
           <p class="card-text"> sous-catégorie :
			<a href>{{ article.subCategory.name }}</a></p>
			{% endif %}
			</br>
			<div class="card-footer">
			<form>
			 <input id="impression" name="impression" type="button"  class="btn btn-dark" onclick="imprimer_page()" value="Imprimer" />
			</form>	
			</br>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="OFBiodiversite">Tweet</a>
			</div>
			</div>
	</div>
	</div>
	</section>
	<div class="p-5 text-end">
	<button type="button" class="btn btn-light"><a href="{{ path('article_index') }}"> Revenir aux articles </a></button>
	</div>
	<script type="text/javascript">
		function imprimer_page(){
  		window.print(); }
	</script>
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

{% endblock %}
